.header-main-parent-div {
  background-color: rgb(0, 0, 0);
}
.web-name {
  font-size: 25px;
  color: white;
}
.oo {
  color: red;
  font-size: 30px;
}
.color {
  color: red;
  font-size: 16px;
}

.shopNow {
  background-color: red;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 300px) {
  .cycle {
    font-size: 12px;
  }
  .oo {
    font-size: 20px;
  }
  .shopNow {
    width: 60%;
    font-size: 12px;
    padding: 0;
    font-weight: 700;
  }
}
@media screen and (max-width: 400px) {
  .cycle {
    font-size: 20px;
  }
  .shopNow {
    font-size: 14px;
  }
}
@media screen and (max-width: 350px) {
  .cycle {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .cycle {
    font-size: 18px;
  }
  .oo {
    font-size: 16px;
  }
  .shopNow {
    font-size: 12px;
  }
}
@media screen and (max-width: 300px) {
  .cycle {
    font-size: 10px;
  }
}
@media screen and (max-width: 550px) {
  .cycle {
    font-size: 15px;
  }

  .displayName {
    font-size: 10px;
    display: none;
  }
}
