.review-img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.review-single-div {
  background-color: rgb(247, 246, 245);
  padding: 40px;
  margin-bottom: 50px;
  box-shadow: 1px 10px 10px rgb(199, 193, 193);
  border-radius: 10px;
  text-align: left;
}

.review-flex-div {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.description {
  margin-top: 20px;
}

.review-name {
  color: red;
  font-weight: 500;
  font-size: 18px;
}
.review-customer {
  font-size: 14px;
  font-weight: 500;
}
