.footer-main-parent-div {
  background-color: black;
}
.footer-grid-parent-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: left;
  width: 90%;
  margin: auto;
}
.footer-section-heading {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.blank-footer-div {
  height: 1px;
  width: 50px;
  margin-bottom: 40px;
  background-color: aliceblue;
}
.book-img-text-div {
  display: flex;
  align-items: center;
}
.footer-logo-flex-div {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px;
}
.footer-logo {
  width: 30px;
  border-radius: 50%;
}

.book-logo {
  width: 15px;
  margin-right: 20px;
}
.date {
  margin-left: 35px;
}
.photo-grid-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
